{% extends "base.html" %}

{% block title %}
Description
{% endblock %}

{% block content %}
<section class="entry-content ">
	<h2>What we do?</h2>
	<p>Some cool stuff.</p>

<p>Some cool stuff:</p>

<p>
<h3>Header 2</h3>
<p style="text-indent: 1.5em">Some cool stuff.</p>
<h3>Header 3</h3>
<p style="text-indent: 1.5em">Some cool stuff.</p>
<h3>Header 4</h3>
<p style="text-indent: 1.5em">Some cool stuff.</p>
<p style="text-indent: 1.5em">
Some cool stuff.
</p>
<p style="text-indent: 1.5em">
Some cool stuff.</p>
<h3>Header 5</h3>
<p style="text-indent: 1.5em">Some cool stuff.</p>

<h3>Header 6</h3>

<hr>

<h2>What else we do?</h2>
<p>Some cool stuff.</p>
<p>
Some cool stuff.
</p>
<p>
<strong>FAT TEXT:</strong> Some cool stuff
</p><p>
</p></p>

	<p>Django сейчас процветающий фреймворк с тысячами пользователей и aslkmfslfm контрибьюторов. Несмотря на то, что в нем остались функции, которые указывают на его происхождение, Django превратился в универсальный фреймворк, который способен разрабатывать любые типы сайтов.</p>

<hr>
<h2>And finally?</h2>
<p>
Some cool stuff.
</p>
<p>
How to make a list:
</p>
<ul>
	<li><strong>List 1:</strong> Some cool stuff.</li>
	<li><strong>List 2:</strong> Some cool stuff.</li>
	<li><strong>List 3:</strong> Some cool stuff.</li>
	<li><strong>List 4:</strong> Some cool stuff.</li>
</ul>





	<div id="attachment_965" class="wp-caption aligncenter">

		<a href="https://mdn.mozillademos.org/files/13931/basic-django.png" class="grouped_elements" rel="tc-fancybox-group964">

			<img class=" wp-image-965 " title="Le protocole HTTP, en gros" src="https://mdn.mozillademos.org/files/13931/basic-django.png" width="1023" height="666" align="center" />
		</a>


	</div>


</section>
{% endblock %}