{% extends "base.html" %}

{% block title %}
Description
{% endblock %}

{% block content %}

<style>
	.description_titles {
		color: #050404;
		font-family: sans-serif;
		text-align:center;
	}	

	.text {
		color: #181818;
		font-family: sans-serif;
		text-align:center;
	}

	.bloc1 {
		background-color:#DCD5D5;
		clear:both;
	}	

	.bloc2 {
		background-color:##FAF8F8;
		clear:both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 55%;
	}	
</style>

<body bgcolor = "#FAF8F8">

<div class = 'text'>

<div class = 'bloc1'>
	<br/>
<h1 class='description_titles'>What we do</h1>
	<p>You're an avid photographer and you want to have some fun playing with your artworks?</p>
	<p>You have an old black and white photo and you would like to bring it a new life? </p>
	<p>You are only a few clicks away! </p>
	

	<br/>
	
	<form action="simple">
    	<input type="submit" value="Give it a try!" />
	</form>
	<br/>
	
</div>

<br/>

<div class = 'bloc2'>
    <h1 class='description_titles'>Some cool examples</h1>
	<br/>
		<img title="Autocolorized picture" src="http://image.noelshack.com/fichiers/2018/42/4/1539872787-colorized.jpg"/>

</div>

<div class = 'bloc1'>
	<br/>
<h1 class='description_titles'>How it works</h1>

	<p>Our colorization algorithm is based on deep neural networks trained on more than 10,000 images.</p>
	<p>At ColorAIze, we use Deep Learning to automatically colorize your Black and White pictures. </p>
	<br/>

	<a href="/uploads/how_it_works/">Find more details here</a>
	
</div>

<br/>
<br/>

<div class = 'bloc2'>
	<br/>
<h1 class='description_titles'>What's to come</h1>

	<p>So far we've been focusing on colorizing portraits of people. </p>
	<p>We are currently training our algorithms on a much broader scope of images, and you will soon be able to colorize your landscape or animal pictures. </p>
	<br/>
</div>

<br/>
<!-- <hr> -->
<br/>
<br/>

</div>

</body>

{% endblock %}