{% extends 'base.html' %}

<style>
.img_central {
    /*display: block;*/
    margin: 0 auto;
}
</style>

{%load static%}

{% block content %}
<h2>
<center>Generative Adversarial Networks for Image Coloring</center>
</h2>

<center>

<img src="https://phillipi.github.io/pix2pix/images/teaser_v3.png" alt="Smiley face" width="1000" height="400">
<p>
<img src="http://blogs.ionis-group.com/epita/media/piscine-master-of-science-big-data-for-business-etudiants-ecoles-hec-polytechnique-epita-innovation-2016_02.jpg" alt="Smiley face" width="400" height="150" align="bottom">
</p>
</center>


  <!-- <form method="post" enctype="multipart/form-data"> -->
  
{% endblock %}