{% extends 'base.html' %}

<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

{%load static%}

{% block content %}
<h2>
<center>Generative Adversarial Networks for image coloring</center>
</h2>


<!-- <table>
  <ul>
    <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>
</table> -->

<!--   <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul> -->
  <img src="https://cdn-images-1.medium.com/max/1600/1*GEIe5Hu5nuoLEMKdzTqbgg.jpeg" width="80%" height="300" class="center">
  <form method="post" enctype="multipart/form-data">
  
{% endblock %}