{% extends 'base.html' %}
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

{% load static %}

{% block content %}
<center>
	<!-- {% if uploaded_file_url %}
    p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p
    <meta http-equiv="refresh" content="0; url=https://www.youtube.com/watch?v=mDFBTdToRmw" />
    <img src="https://png.pngtree.com/svg/20170330/web_success_9814.png" width="128" height="128" class="center">
  {% endif %} -->

	<img src="https://png.pngtree.com/svg/20170330/web_success_9814.png" width="300" height="300" class="center">
  <p>
  <center>File uploaded!</center>
  <center>Now you are ready to do some magic!</center>
  </p>
  <button type="submit">Make Magic!</button>


  
 
</center>

  <!-- <p><a href="{% url 'home' %}">Return to home</a></p> -->
{% endblock %}