{% extends "base.html" %}

{% block title %}
About Us.
{% endblock %}

{% block content %}
<!-- <style type="text/css"></style> --><!-- 
<link href="styles/layout.css" rel="stylesheet" type="text/css" media="all"> -->
<style>
	.layer2 {
	border: dotted 3px white;
	border-radius: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	/*width: 50%*/
   }

   #left_block{
   	/*background-color: #ff6666;*/
   	width: 100%;
   	height: 157px;
   }

   h4 a {
    /*color: #FCA205;*/
    font-family: 'Lobster';
}

</style>


<h2 align="center">Our team:</h2>

<div id="left_block">
<p>
	<img src="https://media.licdn.com/dms/image/C4D03AQFeKrwfS-shkQ/profile-displayphoto-shrink_800_800/0?e=1545264000&v=beta&t=3y2SVnAJzRE9zZA6i8k1ljfsauIoPvSPYUV6cy8NrTk" width="150" height="150" align="left" class="layer2"> 

	<h4><a href="https://www.linkedin.com/in/mathilde-duverger/">Mathilde Duverger</a> </h4>
	<p>X HEC Data Science for Business</p> 
	<p>Available from September 2019 for an end-of-studies internship or first job.</p>
</p>
</div>
<hr>

<div id="left_block">
<p>
	<img src="https://media.licdn.com/dms/image/C4E03AQHlXB4ShGhvqQ/profile-displayphoto-shrink_800_800/0?e=1545264000&v=beta&t=5eyO5ajW5hLBZ2_O3Xlv19MCMK-CEXgI7X4v1a3I_Hk" width="150" height="150" align="left" class="layer2"> 

	<h4><a href="https://www.linkedin.com/in/margauxgirardsoppet/">Margaux Girard-Soppet</a> </h4>
	<p>Artificial Intelligence Intern at Philip Morris International</p> 
	<p>Some stuff here</p>
</p>
</div>
<hr>

<div id="left_block">
<p>
	<img src="https://media.licdn.com/dms/image/C4D03AQG5uo9Wb1hINA/profile-displayphoto-shrink_800_800/0?e=1545264000&v=beta&t=DOm-MkLf7YZMTdKoWsiZpFZiZP2SGDJkQ8VL_HwqgHI" width="150" height="150" align="left" class="layer2"> 

	<h4><a href="https://www.linkedin.com/in/sacha-izadi/">Sacha Izadi</a> </h4>
	<p>Aspiring Data Scientist • Applied ML @ École polytechnique & HEC Paris</p> 
	<p>I'm interested in new opportunities leveraging machine learning at scale, and in the strategic deployment of AI. Feel free to ping me by mail.</p>

	<p>Contact: sacha.izadi@poytechnique.edu / sacha.izadi@hec.edu</p>
</p>
</div>
<hr>

<div id="left_block">
<p>
	<img src="https://media.licdn.com/dms/image/C5603AQEoYXQ4SNIV_w/profile-displayphoto-shrink_800_800/0?e=1545264000&v=beta&t=Yrf7JYLsjEicH5Ai8fa4ZHNo7hFyN9aWWOvtp8U8WLs" width="150" height="150" align="left" class="layer2"> 

	<h4><a href="https://www.linkedin.com/in/alexandre-momeni/">Alexandre Momeni</a> </h4>
	<p>Some stuff here</p> 
	<p>Some stuff here</p>
</p>
</div>
<hr>

<div id="left_block">
<p>
	<img src="https://media.licdn.com/dms/image/C4D03AQHXlYpKTjxQRA/profile-displayphoto-shrink_200_200/0?e=1545264000&v=beta&t=oA3L3Mt95X6Z9TPFPngiv9Ga2bP7CbD50THagZwNcGI" width="150" height="150" align="left" class="layer2"> 

	<h4><a href="https://www.linkedin.com/in/valentin-lapparov-21026112b/">Valentin Lapparov</a> </h4>
	<p>Graduate student in the MSc. Data Science for Business between Ecole polytechnique and HEC Paris</p> 
	<p>Communicative, well organized and eager to learn student. I am interested in Data Science, Machine Learning and related topics.</p>
</p>
</div>
<hr>

{% endblock %}