<style>
ul.dashed {
	width: 180px;
    /*height: 100px;*/
    /*padding: 20px;*/
    border: 1px solid #E2CAE3;
    border-radius: 22px;
    }
</style>
<ul id="nav" class="dashed"><!-- 
	Site content: -->
	<li><a href="/uploads/description/">Project Description</a></li>
	<!-- <li><a href="{% url 'simple_upload' %}">Upload Data</a></li> -->
	<li><a href="/uploads/simple/">Make magic here</a></li>
	<li><a href="/uploads/us/">More about Us</a></li>
	<li><a href="{% url 'home' %}">Home</a></li>
</ul>
